doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    // link(rel='icon', href='../../../../favicon.ico')
    title さくっとPWA
    // Bootstrap core CSS
    link(href='./css/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href="//fonts.googleapis.com/css?family=Montserrat", rel="stylesheet")
    link(href='./css/style.css', rel='stylesheet', media="all")
  body.bg-light
    #loader
      .wrapper
        .box-wrap
          .box.one
          .box.two
          .box.three
          .box.four
          .box.five
          .box.six

    .container
      .py-5.text-center
        h1.mb-4 さくっとPWA
        p PWAを実施してみたいけど、何をすればいいのかわからない人のために。
      #app.row
        .col-md-8.mb-4
          h2.mb-3 Form Area
          form(v-on:submit.prevent="doSubmit")
            .progress.mb-4
              .progress-bar.progress-bar-striped.progress-bar-animated(role="progressbar", aria-valuemin="0", aria-valuemax="100", :class="isAllValid ? 'bg-success' : 'bg-info'", :style="progressWidth")
            .form-group.row
              label.col-sm-4.col-form-label(for='inputText1') Name
              .col-sm-8
                input#inputText1.form-control(type='text', v-model='form.name', :class='errorClassObject(\'name\')', placeholder='Input text')
                transition(name='fade')
                  p.text-danger.mt-2.ml-2(v-if='activeClassObject(\'name\')') {{ validation.name | emptyValidator }}
            .form-group.row
              label.col-sm-4.col-form-label(for='inputText2') Short name
              .col-sm-8
                input#inputText2.form-control(type='text', v-model='form.short_name', :class='errorClassObject(\'short_name\')', placeholder='Input text')
                transition(name='fade', v-if='activeClassObject(\'short_name\')')
                  p.text-danger.mt-2.ml-2 {{ validation.short_name | emptyValidator }}
            .form-group.row
              label.col-sm-4.col-form-label(for='inputText3') Description
              .col-sm-8
                input#inputText3.form-control(type='text', v-model='form.description', :class='errorClassObject(\'description\')', placeholder='Input text')
                transition(name='fade')
                  p.text-danger.mt-2.ml-2(v-if='activeClassObject(\'description\')') {{ validation.description | emptyValidator }}
            .form-group.row
              label.col-sm-4.col-form-label(for='inputText4') Start URL
              .col-sm-8
                input#inputText4.form-control(type='text', v-model='form.start_url', :class='errorClassObject(\'start_url\')', placeholder='Input text')
                transition(name='fade')
                  p.text-danger.mt-2.ml-2(v-if='activeClassObject(\'start_url\')') {{ validation.start_url | emptyValidator }}

            .form-group.row
              label.col-sm-4.col-form-label(for='inputText5') Display
              .col-sm-8
                input#inputText5.form-control(type='text', v-model='form.display', :class='errorClassObject(\'display\')', placeholder='Input text')
                transition(name='fade')
                  p.text-danger.mt-2.ml-2(v-if='activeClassObject(\'display\')') {{ validation.display | emptyValidator }}

            .form-group.row
              label.col-sm-4.col-form-label(for='inputText6') Orientation
              .col-sm-8
                input#inputText6.form-control(type='text', v-model='form.orientation', :class='errorClassObject(\'orientation\')', placeholder='Input text')
                transition(name='fade')
                  p.text-danger.mt-2.ml-2(v-if='activeClassObject(\'orientation\')') {{ validation.orientation | emptyValidator }}

            .form-group.row
              label.col-sm-4.col-form-label(for='inputText7') Background Color
              .col-sm-8
                input#inputText7.form-control(type='text', v-model='form.background_color', :class='errorClassObject(\'background_color\')', placeholder='Input text')
                transition(name='fade')
                  p.text-danger.mt-2.ml-2(v-if='activeClassObject(\'background_color\')') {{ validation.background_color | emptyValidator }}

            .form-group.row
              label.col-sm-4.col-form-label(for='inputText8') Theme Color
              .col-sm-8
                input#inputText8.form-control(type='text', v-model='form.theme_color', :class='errorClassObject(\'theme_color\')', placeholder='Input text')
                transition(name='fade')
                  p.text-danger.mt-2.ml-2(v-if='activeClassObject(\'theme_color\')') {{ validation.theme_color | emptyValidator }}

            .form-group.row
              label.col-sm-4.col-form-label(for='inputText9') Application Icon
              .col-sm-8
                input#inputText9.form-control(type='text', v-model='form.icon_home', :class='errorClassObject(\'icon_home\')', placeholder='Input text')
                transition(name='fade')
                  p.text-danger.mt-2.ml-2(v-if='activeClassObject(\'icon_home\')') {{ validation.icon_home | emptyValidator }}
            
            .form-group.row
              label.col-sm-4.col-form-label(for='inputText10') Splash Screen Icon
              .col-sm-8
                input#inputText10.form-control(type='text', v-model='form.icon_splash', :class='errorClassObject(\'icon_splash\')', placeholder='Input text')
                transition(name='fade')
                  p.text-danger.mt-2.ml-2(v-if='activeClassObject(\'icon_splash\')') {{ validation.icon_splash | emptyValidator }}

            button(type="submit", class="btn btn-success btn-lg btn-block mt-4", :disabled="!isAllValid") コンプリート!!

        .col-md-4.mb-4
          h2 Ad Area

        #result.col-md-12.mb-4.pt-4
          h2 Result Area
          // pre code
          .pre_wrap.row
            .col-md-6.mb-2
              h3.mb-3 manifest.json
              pre.code.code-json.mb-5 <label>JSON</label>
                code 
                  | {
                  |   name: '{{ this.form['name'] }}',
                  |   short_name: '{{ this.form['short_name'] }}',
                  |   description: '{{ this.form['description'] }}',
                  |   start_url: '{{ this.form['start_url'] }}',
                  |   display: '{{ this.form['display'] }}',
                  |   orientation: '{{ this.form['orientation'] }}',
                  |   background_color: '{{ this.form['background_color'] }}',
                  |   theme_color: '{{ this.form['theme_color'] }}',
                  |   icons: [
                  |     {
                  |       src: '{{ this.form['icon_home'] }}',
                  |       sizes: '192x192',
                  |       type: 'image/png'
                  |     },
                  |     {
                  |       src: '{{ this.form['icon_splash'] }}',
                  |       sizes: '512x512',
                  |       type: 'image/png'
                  |     }
                  |   ],
                  | }

            .col-md-6.mb-2
              h3.mb-3 service-worker.js
              pre.code.code-javascript.mb-5 <label>JS</label>
                code
                  | // comment
                  | self.addEventListener('install', function(e) {
                  |   console.log('[ServiceWorker] Install');
                  | });
                  | 
                  | self.addEventListener('activate', function(e) {
                  |   console.log('[ServiceWorker] Activate');
                  | });
                  | 
                  | self.addEventListener('fetch', function(event) {});

            .col-md-12.mb-4
              h3.mb-3 index.html 設定サンプル
              pre.code.code-html <label>HTML</label>
                code
                  | &lt;!DOCTYPE html&gt;
                  | &lt;html lang="ja"&gt;
                  |   &lt;head&gt;
                  |     &lt;link rel="manifest" href="./manifest.json"&gt;
                  |     &lt;script&gt;
                  |       if ('serviceWorker' in navigator) {
                  |         navigator.serviceWorker.register('./service-worker.js').then(function () { console.log('Service Worker Registered'); });
                  |       }
                  |       window.addEventListener('load', function() {
                  |         if ('serviceWorker' in navigator) {
                  |           navigator.serviceWorker.register("./service-worker.js")
                  |             .then(function(registration) {
                  |               return registration.pushManager.getSubscription().then(function(subscription) {
                  |                 if (subscription) {
                  |                   return subscription
                  |                 }
                  |                 return registration.pushManager.subscribe({
                  |                   userVisibleOnly: true
                  |                 })
                  |               })
                  |             }).then(function(subscription) {
                  |               console.log("pushManager endpoint:", subscription.endpoint)
                  |             }).catch(function(error) {
                  |               console.warn("serviceWorker error:", error)
                  |             })
                  |         }
                  |       });
                  |     &lt;/script&gt;

      .row.pt-4
        .col-md-8.order-md-1
          h2.mb-3 INFORMATION
          ul.news_wrap.mb-4
            li
              .date 2018年06月22日
              .title 「さくっとPWA」（試験公開版）完成!!

      footer.my-5.pt-5.text-muted.text-center.text-small
        p.mb-1 © 2018 さくっとPWA
        ul.list-inline
          li.list-inline-item
            a(href="//github.com/nishinotky/pwa-converter/") GitHub
          li.list-inline-item
            a(href='//auto-range.jp') かいはつ
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='//code.jquery.com/jquery-3.3.1.slim.min.js')
    script(src='./js/popper.min.js')
    script(src='./js/bootstrap.min.js')
    script(src='./js/holder.min.js')
    script(src="./js/vue.min.js")
    script(src="./js/script.js")
